In [1]:

import os
import sys
import numpy as np
import pandas as pd

In [2]:

path = (r"C:\Users\Jwpel\Downloads")
input_data = "\mod1_assessment_data.csv"
df = pd.read_csv(filepath_or_buffer=(r"C:\Users\Jwpel\Downloads\mod1_assessment_data.csv") 
                                     ,sep=",", encoding="latin1")
df.head(10)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2016,3,AA,American Airlines Inc.,JFK,"New York, NY: John F. Kennedy International",1605.0,354.0,84.10,6.60,...,99.18,2.0,2.0,20884.0,5682.0,239.0,7110.0,93.0,7760.0,NaN
1,2016,3,OO,SkyWest Airlines Inc.,FNT,"Flint, MI: Bishop International",53.0,2.0,0.00,0.00,...,0.00,0.0,0.0,78.0,0.0,0.0,78.0,0.0,0.0,NaN
2,2016,3,OO,SkyWest Airlines Inc.,FWA,"Fort Wayne, IN: Fort Wayne International",355.0,67.0,21.03,0.98,...,25.39,6.0,0.0,5533.0,2397.0,92.0,618.0,0.0,2426.0,NaN
3,2016,3,OO,SkyWest Airlines Inc.,COS,"Colorado Springs, CO: City of Colorado Springs...",477.0,108.0,33.69,3.99,...,46.02,7.0,0.0,6770.0,2655.0,367.0,897.0,0.0,2851.0,NaN
4,2016,3,OO,SkyWest Airlines Inc.,SAT,"San Antonio, TX: San Antonio International",156.0,35.0,7.81,0.52,...,17.28,3.0,0.0,2005.0,529.0,26.0,294.0,0.0,1156.0,NaN
5,2016,3,OO,SkyWest Airlines Inc.,HLN,"Helena, MT: Helena Regional",146.0,22.0,3.75,1.19,...,8.12,1.0,0.0,954.0,215.0,96.0,270.0,0.0,373.0,NaN
6,2016,3,OO,SkyWest Airlines Inc.,BHM,"Birmingham, AL: Birmingham-Shuttlesworth Inter...",70.0,19.0,9.12,0.44,...,6.20,3.0,0.0,1252.0,569.0,25.0,123.0,0.0,535.0,NaN
7,2016,3,OO,SkyWest Airlines Inc.,TVC,"Traverse City, MI: Cherry Capital",85.0,13.0,2.43,0.78,...,4.13,4.0,0.0,699.0,108.0,99.0,181.0,0.0,311.0,NaN
8,2016,3,OO,SkyWest Airlines Inc.,CMH,"Columbus, OH: Port Columbus International",96.0,18.0,7.94,1.00,...,3.87,0.0,0.0,951.0,574.0,35.0,204.0,0.0,138.0,NaN
9,2016,3,OO,SkyWest Airlines Inc.,PIT,"Pittsburgh, PA: Pittsburgh International",15.0,3.0,0.50,0.00,...,2.37,0.0,0.0,124.0,11.0,0.0,9.0,0.0,104.0,NaN

In [11]:
df_copy = df

In [12]:
df_copy.duplicated().sum()

0

In [13]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
974     False
975     False
976     False
977     False
978     False
979     False
980     False
981     False
982     False
983     False
984     False
985     False
986     False
987     False
988     False
989     False
990     False
991     False
992     False
993     False
994     False
995     False
996     False
997     False
998     False
999     False
1000    False
1001    False
1002    False
1003    False
Length: 1004, dtype: bool

In [83]:
df_copy["arr_del15"].fillna(df_copy["arr_del15"].mean(), inplace = True)

In [23]:
df_copy["carrier_ct"].fillna(df_copy["carrier_ct"].mean(), inplace = True)

In [34]:
df_copy["nas_ct"].fillna(df_copy["nas_ct"].median(), inplace = True)

In [35]:
df_copy["weather_delay"].fillna(df_copy["weather_delay"].median(), inplace = True)

In [36]:
df_copy["nas_delay"].fillna(df_copy["nas_delay"].median(), inplace = True)

In [40]:
df_copy["late_aircraft_ct"].fillna(0, inplace = True)

In [41]:
df_copy["arr_cancelled"].fillna(0, inplace = True)

In [42]:
df_copy["arr_diverted"].fillna(0, inplace = True)

In [43]:
df_copy["security_delay"].fillna(3, inplace = True)

In [71]:
df_copy.drop('year', axis=1, inplace=True)

In [82]:
df_copy.drop(df_copy.columns[[0]], axis = 1, inplace=True)

In [84]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 20 columns):
carrier                1004 non-null object
carrier_name           1004 non-null object
airport                1004 non-null object
airport_name           1004 non-null object
arr_flights            1004 non-null float64
arr_del15              1004 non-null float64
carrier_ct             1004 non-null float64
 weather_ct            1003 non-null float64
nas_ct                 1004 non-null float64
security_ct            1003 non-null float64
late_aircraft_ct       1004 non-null float64
arr_cancelled          1004 non-null float64
arr_diverted           1004 non-null float64
 arr_delay             1003 non-null float64
 carrier_delay         1003 non-null float64
weather_delay          1004 non-null float64
nas_delay              1004 non-null float64
security_delay         1004 non-null float64
late_aircraft_delay    1004 non-null float64
Unnamed: 21            0 non-null float64
dtypes: float64(16), object(4)
memory usage: 157.0+ KB

In [85]:
df_copy.rename(columns = {' arr_delay':'arr_delay', ' carrier_delay':'carrier_delay', ' weather_ct':'weather_ct'}, inplace = True)

In [86]:
df_copy['arr_delay'].fillna(df_copy['arr_delay'].mean, inplace = True)

In [87]:
df_copy['carrier_delay'].fillna(df_copy['carrier_delay'].mean, inplace = True)

In [88]:
df_copy['weather_ct'].fillna(df_copy['weather_ct'].median, inplace = True)

In [89]:
file = "output_data.csv"
df_copy.to_csv(os.path.join(path, file), sep=",", encoding = "latin1", index = False)
print("LOCATION" + path)
print("FILENAME" + file)
print()

LOCATIONC:\Users\Jwpel\Downloads
FILENAMEoutput_data.csv

In [90]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 20 columns):
carrier                1004 non-null object
carrier_name           1004 non-null object
airport                1004 non-null object
airport_name           1004 non-null object
arr_flights            1004 non-null float64
arr_del15              1004 non-null float64
carrier_ct             1004 non-null float64
weather_ct             1004 non-null object
nas_ct                 1004 non-null float64
security_ct            1003 non-null float64
late_aircraft_ct       1004 non-null float64
arr_cancelled          1004 non-null float64
arr_diverted           1004 non-null float64
arr_delay              1004 non-null object
carrier_delay          1004 non-null object
weather_delay          1004 non-null float64
nas_delay              1004 non-null float64
security_delay         1004 non-null float64
late_aircraft_delay    1004 non-null float64
Unnamed: 21            0 non-null float64
dtypes: float64(13), object(7)
memory usage: 157.0+ KB

In [92]:
df_copy.head(5)

,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,AA,American Airlines Inc.,JFK,"New York, NY: John F. Kennedy International",1605.0,354.0,84.10,6.6,161.41,2.71,99.18,2.0,2.0,20884,5682,239.0,7110.0,93.0,7760.0,NaN
1,OO,SkyWest Airlines Inc.,FNT,"Flint, MI: Bishop International",53.0,2.0,0.00,0,2.00,0.00,0.00,0.0,0.0,78,0,0.0,78.0,0.0,0.0,NaN
2,OO,SkyWest Airlines Inc.,FWA,"Fort Wayne, IN: Fort Wayne International",355.0,67.0,21.03,0.98,19.60,0.00,25.39,6.0,0.0,5533,2397,92.0,618.0,0.0,2426.0,NaN
3,OO,SkyWest Airlines Inc.,COS,"Colorado Springs, CO: City of Colorado Springs...",477.0,108.0,33.69,3.99,24.30,0.00,46.02,7.0,0.0,6770,2655,367.0,897.0,0.0,2851.0,NaN
4,OO,SkyWest Airlines Inc.,SAT,"San Antonio, TX: San Antonio International",156.0,35.0,7.81,0.52,9.39,0.00,17.28,3.0,0.0,2005,529,26.0,294.0,0.0,1156.0,NaN